<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body  style="font-family: Arial, sans-serif; background-color: #f4f4f4; display: flex; justify-content: center; align-items: center; height: 100vh;">
    <img src="https://jumpshare.com/s/NsV3UFPHPAW7jiybFLRg" alt="porto prism" width="100">
    <div>
        <h1>Register Terlebih Dahulu</h1>

    <form action="/register" method="post">
        <label for="title">Email</label><br>
        <input type="text" name="email" id="email"><br><br>

        <label for="title">Password</label><br>
        <input type="text" name="password" id="password"><br><br>

        <label for="title">Role</label><br>
        <select name="role" id="role">
            <option value="manager">Manager</option>
            <option value="user">User</option>
        </select><br><br>

        <button type="submit">
            Submit
        </button>
    </form>
    </div>
    
</body>
</html>